[submodule "PhanesEngine/vendor/spdlog"]
	path = PhanesEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PhanesEngine/vendor/GLFW"]
	path = PhanesEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "PhanesEngine/vendor/imgui"]
	path = PhanesEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Phanes/vendor/glm"]
	path = Phanes/vendor/glm
	url = https://github.com/g-truc/glm